@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 100px;
  font-weight: lighter;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  font-weight: lighter;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: lighter;
}

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 8px;
}

p {
  font-family: 'Roboto', serif;
}
